<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

<div class="container">

	<div class="form">
		<form action="" method="post" id="signup-form">
		<fieldset>

			<legend>Sign up:</legend>

			<label for="username">Username:</label>
			<input type="text" id="username-text">

			<br>

			<label for="password">Password:</label>
			<input type="text" id="password-text">

			<input type="submit" value="Submit">

		</fieldset>
		</form>
	</div>

</div>

<script>
const userForm = document.getElementById('signup-form');
userForm.addEventListener('submit', async function (e) {
  e.preventDefault();
	const username = document.getElementById('username-text').value;
	const password = document.getElementById('password-text').value;

  const response = await fetch(`/signup`, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({username: username, password: password})
  });

const result = await response.json();
});
</script>
</body>
</html>
