<html>

<head>
<script src="https://kit.fontawesome.com/11d6728434.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="button-row">
<a href="/take">   <i class="fa-solid fa-utensils"></i>           </a>
<a href="/edit">   <i class="fa-solid fa-user"></i>               </a>
<a href="/logout"> <i class="fa-solid fa-right-from-bracket"></i> </a>
</div>

<form action="/take">
<fieldset>
  <legend>Take products:</legend>

  <label for="product-dropdown">Product:</label>
  <select id="product-dropdown">  

    <% products.forEach(function(product){ %>
    <option value=<%= product.name %>> <%= product.name %> </option>
    <% }) %>

  </select>

  <br>

  <label for="amount-dropdown">Amount:</label>
  <select id="amount-dropdown">   
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>

  <br>

  <input type="submit" value="Submit">

</fieldset>
</form>

</body>
</html>
