<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/11d6728434.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

<div class="container">

	<div class="icon-row">
		<a href="/take">   <i class="fa-solid fa-utensils fa-5x"></i>           </a>
		<a href="/edit">   <i class="fa-solid fa-user fa-5x"></i>               </a>
		<a href="/logout"> <i class="fa-solid fa-right-from-bracket fa-5x"></i> </a>
	</div>

	<div class="form">
		<form action="" method="post" id="take-form">
		<fieldset>
			<legend>Take products:</legend>

			<label for="product-dropdown">Product:</label>
			<select id="product-dropdown">  

				<% products.forEach(function(product){ %>
				<option value="<%= product.name %>"> <%= product.name %> </option>
				<% }) %>

			</select>

			<br>

			<label for="amount-dropdown">Amount:</label>
			<select id="amount-dropdown">   
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>

			<br>

			<input type="submit" value="Submit">

		</fieldset>
		</form>
	</div>

</div>

<script>
const takeForm = document.getElementById('take-form');
takeForm.addEventListener('submit', async function (e) {
  e.preventDefault();
	const now = new Date();
	// slice trick for zero padding
	// note that for month, 0 -> Jan and 11 -> Dec
	const date = (`0${now.getUTCDate()}`).slice(-2);
	const month = (`0${now.getUTCMonth() + 1}`).slice(-2);
	const year = now.getUTCFullYear();
	const hours = (`0${now.getUTCHours()}`).slice(-2);
	const minutes = (`0${now.getUTCMinutes()}`).slice(-2);
	const seconds = (`0${now.getUTCSeconds()}`).slice(-2);

	const username = 'senior-office-gnome';
	const eventtype = 'take';
	const eventtime = `${year}-${month}-${date}:${hours}:${minutes}:${seconds}`;
	const amountDropdown = document.getElementById('amount-dropdown');
	const amount = amountDropdown.options[amountDropdown.selectedIndex].value;
	const productDropdown = document.getElementById('product-dropdown');
	const product = productDropdown.options[productDropdown.selectedIndex].value;
	console.log(product);

  const response = await fetch(`/api/events`, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      username: username,
      eventtype: eventtype,
      eventtime: eventtime,
      amount: amount,
      product: product
    })
  });

const result = await response.json();
console.log(result)
});
</script>

</body>
</html>
